//マイページ
.mypage,.mypageCompany{
    .logout{
        margin: 3rem;
        text-align: right;
        font-size: 1.4rem;
        cursor: pointer;
    }//.logout
    &__content{
        padding: 12rem 5% 2rem;
        &__user{
            flex-wrap: wrap;
            width: 100%;
            &__fix{
                margin: 1.5rem 0;
                width: 100%;
                text-align: right;
                img{
                    width: 3rem;
                    cursor: pointer;
                }//img
            }//.fix
            &__dresson{
                width: 50%;
                @include dresson_view();
            }//.dresson
            &__message{
                padding: 0.5rem 1rem;
                width: 50%;
                text-align: left;
                .name{
                    font-size: 2rem;
                    line-height: 3.6rem;
                    font-weight: bold;
                }//.name
                .mail{
                    font-size: 1.2rem;
                }//.mail
                .ttl{
                    display: inline-block;
                    margin: 1.5rem 0 0.2rem;
                    color: #5A6BB2;
                    font-size: 1.2rem;
                    line-height: 2rem;
                }//.ttl
                .content{
                    font-size: 1.6rem;
                }//.content
            }//.message
        }//.user
        &__dressBtn,&__messAdjust{
            margin: 1.5rem 25%;
            width: 50%;
            background: #7195C5;
            box-shadow: 2px 3px 0 2px #426FAC;
            color: #fff;
            @include main_btn();
        }//.dressBtn
    }//.content
    &__messageFix{
        margin: 12rem 0 3rem;
        &__item{
            margin: 0 5%;
            padding: 0.8rem 10%;
            transition: 0.3s ease-in-out;
            &:focus-within{
                background: #D3E0E0;
            }
            &__name{
                font-size: 1.5rem;
                line-height: 3rem;
                span{
                    padding-left: 1.5rem;
                    color:#5A6BB2;
                    font-size: 1.2rem;
                }//span
            }//.name
            &__mess{
                input{
                    padding: 0.5rem;
                    width: 100%;
                    border-bottom: 1px solid #707070;
                }//input
            }//.mess
            &__option{
                position: relative;
                width: 70%;
                &::after{
                    position: absolute;
                    top: 1.5rem;
                    right: 0;
                    content: "";
                    border-top: 1rem solid #707070;
                    border-left: 1rem solid transparent;
                    border-right: 1rem solid transparent;
                }//::after
            }//.option
            select{
                padding: 0.5em;
                width: 100%;
                border-bottom: 1px solid #707070;
            }//select
        }//.item
        &__btn{
            margin-top: 0.5rem;
            text-align: center;
            @include check_btn();
        }//.btn
    }//.messageFix
}//.mypage


//ユーザーポイント情報
.mypage__item{
    padding: 2rem 5% 5rem;
    &__ttl{
        padding-left: 1.5rem;
        margin-bottom: 0.5rem;
        font-size: 2.4rem;
        font-weight: normal;
    }//.ttl
    div{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 1.5rem;
        border: 1px solid #BFDFDF;
        border-radius: 1rem;
        p{
            margin: 0.5rem 0;
            width: 50%;
        }//p
    }//div
}//.item

//企業の返信チェック
.mypageCompany{
    &__rejection,&__success{
        animation: window_open 0.6s ease-in-out forwards;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 50;
        margin: 20rem 5% 0;
        padding: 2rem 5%;
        width: 90%;
        height: auto;
        border-radius: 1.5rem;
        background: #F7F7F7;
        box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.25);
        .ttl{
            margin: 1rem 0;
            font-size: 1.8rem;
            text-align: center;
        }
        .text{
            font-size: 1.4rem;
        }
        .btn{
            margin: 1.5rem 25%;
            width: 50%;
            @include main_btn();
        }//.btn
    }//.rejection
    &__rejection{
        .ttl{
            color: #5A6BB2;
        }
        .btn{
            color: #fff;
            background: #7195C5;
            box-shadow: 2px 3px 0 2px #426FAC;
        }
    }//.rejection
    &__success{
        .ttl{
            color: #5D8686;
        }
        .btn{
            background: #9BC674;
            color: #fff;
            box-shadow: 2px 3px 0 2px #5D8686;
        }
    }//.success
}//.mypageCompany

//お問い合わせ管理
.mypageCompany__content{
    &__contact{
        .ttl{
            margin: 1rem 0;
            font-size: 2.4rem;
            font-weight: normal;
            text-align: center;
        }//.ttl
        .contactArea{
            &__item{
                padding: 1rem 0;
                border-bottom: 1px solid #707070;
                .date{
                    display: inline;
                    margin-right: 1.5rem;
                    color: #4872A7;
                }//.date
                .name{
                    display: inline;
                }//.name
                .content{
                    margin: 0.5rem 0 0;
                    font-size: 1.6rem;
                }//.content
                .end{
                    margin: 1rem 0 0;
                    text-align: right;
                    color: #5A6BB2;
                }//.end
                .btn{
                    margin: 0.5rem 0;
                    text-align: right;
                    button{
                        padding: 0.5rem 1rem;
                        margin: 0 0.5rem;
                        border-radius: 0.5rem;
                    }//button
                    .resendBtn{
                        background: #9BC674;
                        color: #fff;
                        box-shadow: 1px 2px 0 1px #5D8686;
                    }//.resendBtn
                    .flyBtn{
                        background: #E8E8E8;
                        color: #707070;
                        box-shadow: 1px 2px 0 1px #B2B2B2;
                    }
                }//.btn
                .resendArea{
                    margin: 1rem 0;
                    .answer{
                        margin: 0.5rem 0;
                        padding: 1rem;
                        width: 100%;
                        height: 10rem;
                        border: 1px solid#707070;
                        border-radius: 1rem;
                    }
                    p{
                        margin: 0.5rem 0;
                        text-align: center;
                        button{
                            margin: auto;
                            width: 10rem;
                            background: #7195C5;
                            box-shadow: 2px 3px 0 2px #426FAC;
                            color: #fff;
                            @include main_btn();
                        }
                    }//p
                }//.resendArea
            }//.item
        }//.contactArea
    }//.contact
    &__user{
        &__message{
            padding: 0.5rem 0;
            width: 100%;
            .name{
                font-size: 2rem;
                text-align: center;
            }//.name
            .like{
                margin: 0.5rem 0;
                font-size: 1.6rem;
                text-align: center;
            }//.like
            div{
                padding: 1rem 1.5rem;
                border: 1px solid #BFDFDF;
                border-radius: 1rem;
            }
            .content{
                margin: 1rem 0;
                font-size: 1.4rem;
                b{
                    display: inline-block;
                    width: 6rem;
                    text-align: right;
                }
                span{
                    display: inline-block;
                    width: auto;
                }//span
            }//.content
        }//.message
    }//.user
}//.content

//企業情報の修正
.mypageCompany__messageFix{
    &__item{
        &__pointArea{
            display: inline-block;
            width: 12rem;
            border-bottom: 1px solid #707070;
            input{
                padding: 0.5rem;
                width: 10rem;
            }//input
        }//.pointArea
        &__referenceBook{
            margin-left: 1rem;
            padding: 0.5rem 1rem;
            background: #fff;
            border-radius: 1rem;
            border: 1px solid #707070;
            font-size: 1.2rem;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
        }//.referenceBook
        &__commend{
            font-size: 1.2rem;
            line-height: 1.6rem;
        }//commedn
        &__messArea{
            margin: 0.5rem 0;
            padding: 1rem;
            width: 100%;
            height: 6rem;
            background: #fff;
            border: 1px solid #707070;
            border-radius: 1rem;
            textarea{
                width: 100%;
                height: 100%;
            }//textarea
        }//.messArea
        &__image{
            label{
                position: relative;
                display: block;
                margin: 0.5rem 0;
                width: 24rem;
                height: 12rem;
                background: transparent;
                border: none;
                cursor: pointer;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    width : 100%;
                    height: 100%;
                    border: none;
                    object-fit: cover;
                }
                button{
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 4rem 10rem;
                    width: 100%;
                    height: 100%;
                    font-size: 4rem;
                    background: #707070;
                    color: #fff;
                    pointer-events: none;
                }
            }//label
            input{
                display: none;
            }//input
        }//.image
    }//.itme
    .companyDesc{
        .mypageCompany__messageFix__item__messArea{
            height: 12rem;
        }
    }//.companyDesc
}//.messageFix